<a href="https://colab.research.google.com/github/prak32/Python_Assignment/blob/master/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Q.no.1.**

In [4]:
#Convert tuples to list.
tuple_a = (9,8,1,8,6,5,6,0,2,3)
print(list(tuple_a))

tuple_b = ('Prakash', 'Nikhil', 'Rochak')
print(list(tuple_b))

tuple_c = ('a', 2.0, 'Janak', 4)
print(list(tuple_c))

[9, 8, 1, 8, 6, 5, 6, 0, 2, 3]
['Prakash', 'Nikhil', 'Rochak']
['a', 2.0, 'Janak', 4]

**Q.no.2**

In [32]:
#Write a program to calculate direction and magnitude of the vector described by the following points.
#A = (20,30)
#B = (30,40)
import math
A= [20, 30]
B= [30, 40]
mag= math.sqrt( ((B[0]-A[0])**2)+((B[1]-A[1])**2) )
print("The required magnitude of the Vector AB(|AB|)is %.4f" %mag)
y=B[1]-A[1]
x=B[0]-A[0]
ang = math.degrees(math.atan(y/x))
print("0= %.4f" %ang,"째")
print("And, \n The direction of the vector AB is %.4f" %ang,"째")

The required magnitude of the Vector AB(|AB|)is 14.1421
0= 45.0000 째
And,
 The direction of the vector AB is 45.0000 째

**Q.no.3**

In [42]:
#Write a program to demonstrate data types that can be elements of a tuple.
# tuple of strings
data1= ("Thanks", "Guys", "bye")
print(data1)

# tuple of int, float, string
data2 = (1, 2.8, "Thank You")
print(data2)

# tuple of string and list
data3 = ("Book", [1, 2, 3])
print(data3)

# tuple inside another tuple (nested tuple)
data4 = ((2, 3, 4), (2, -5, "Morning"))
print(data4)

#tuple of a set
data5=( {1, "hello", 'a'} )
print(data5)

('Thanks', 'Guys', 'bye')
(1, 2.8, 'Thank You')
('Book', [1, 2, 3])
((2, 3, 4), (2, -5, 'Morning'))
{1, 'hello', 'a'}