<a href="https://colab.research.google.com/github/prak32/Python_Assignment/blob/master/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q.no.1

In [ ]:
#Make a list of ten students in your class. Print the name of each student whose name starts with ‘B’.
students=['Aashish', 'Bishal', 'Bibek', 'David', 'Rochak','Nikhil', 'Bishwo', 'Avisekh', 'Kushal', 'Bhairab']
test = 'B'
print("Given list of the students:\n " ,students)
res = [idx for idx in students if idx[0].lower() == test.lower()]
print("The name of the students whose name starts with 'B':\n " ,res)

Given list of the students:
  ['Aashish', 'Bishal', 'Bibek', 'David', 'Rochak', 'Nikhil', 'Bishwo', 'Avisekh', 'Kushal', 'Bhairab']
The name of the students whose name starts with 'B':
  ['Bishal', 'Bibek', 'Bishwo', 'Bhairab']

#Q.no.2.

In [ ]:
#Make a list of ten students in your class. Print the name of each student whose name ends with ‘a’.
students = ['Aasha', 'pratigya', 'Prakash', 'Salina', 'Bipana', 'Hritika', 'Rachana', 'Bijaya', 'Alina', 'Samir']
test = 'A'
print("Given list of the students:\n " ,students)
res = [idx for idx in students if idx[-1].upper() == test.upper()]
print("The name of the students whose name starts with 'A':\n " ,res)

Given list of the students:
  ['Aasha', 'pratigya', 'Prakash', 'Salina', 'Bipana', 'Hritika', 'Rachana', 'Bijaya', 'Alina', 'Samir']
The name of the students whose name starts with 'A':
  ['Aasha', 'pratigya', 'Salina', 'Bipana', 'Hritika', 'Rachana', 'Bijaya', 'Alina']

#Q.no.3.

In [33]:
#Print all the unique elements in the following list fifa = ['Italy','Argentina','Germany','Brazil','France','Brazil','Italy','Spain','Germany','France']
import numpy
fifa = ['Italy','Argentina','Germany','Brazil','France','Brazil','Italy','Spain','Germany','France']
print("Given list:", fifa)
print("\nUnique elements of the list are:", numpy.unique(fifa))

Given list: ['Italy', 'Argentina', 'Germany', 'Brazil', 'France', 'Brazil', 'Italy', 'Spain', 'Germany', 'France']

Unique elements of the list are: ['Argentina' 'Brazil' 'France' 'Germany' 'Italy' 'Spain']

#Q.no.4

In [26]:
#Change the first alphabet of all elements of the following list to capital. Bob = ['hurricane ','tambourine,'blowing,'numb']
Bob = ['hurricane ', 'tambourine', 'blowing', 'numb']
Bob = [Bob.title() for Bob in Bob] 
print("The elements starts with capital in the list are:", Bob)

The elements starts with capital in the list are: ['Hurricane ', 'Tambourine', 'Blowing', 'Numb']

#Q.no.5

In [47]:
#A = ['a','b','c','d'] B = ['1','a','2','b'].Find A Union B and A intersection B.
A = ['a','b','c','d'] 
B = ['1','a','2','b']
C = list(set(A)|set(B))
C.sort()
D = list(set(A)&set(B))
D.sort()
print("A Union B:", C)
print("A intersection B:", D)

A Union B: ['1', '2', 'a', 'b', 'c', 'd']
A intersection B: ['a', 'b']

#Q.no.6

In [29]:
#Calculate the mean and standard deviation of the following list: Numbers = [1,2,3,5,88,99,55,33,41,52]
import statistics
Numbers = [1,2,3,5,88,99,55,33,41,52]
avg = statistics.mean(Numbers)
print("The mean of the numbers given in the lists:", avg)
std = statistics.stdev(Numbers)
print("The standard deviation of the numbers given in the lists: %.4f" %std)

The mean of the numbers given in the lists: 37.9
The standard deviation of the numbers given in the lists: 36.0846