<a href="https://colab.research.google.com/github/prak32/Python_Assignment/blob/master/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q.no.1

In [2]:
#Students = [‘jack’,’jill’,’david’,’silva’,’ronaldo’]
#Marks = [‘55’,’56’,’57’,’66’,’76’]
#Make a dictionary using lists above and delete the key-value (students:marks) pairs with lowest marks. 
dic = {'jack':55,'jill':56,'david':57,'silva':66,'ronaldo':76}
print(dic)
min_key=min(dic, key=dic.get)
print("The student whose marks is less is:", min_key)
del dic[min_key]
dic

{'jack': 55, 'jill': 56, 'david': 57, 'silva': 66, 'ronaldo': 76}
The student whose marks is less is: jack

{'david': 57, 'jill': 56, 'ronaldo': 76, 'silva': 66}

#Q.no.2.

In [3]:
Euro = {'France':5,'Germany':2,'Portugal':3,'Hungary':6}

countries=[]
value=[]
for country in Euro.keys():
  countries.append(country)
print(countries)
for values in Euro.values():
  value.append(values)
print(value)

['France', 'Germany', 'Portugal', 'Hungary']
[5, 2, 3, 6]

#Q.no.3.

In [4]:

users = {'g91':{'name':'Aron','age':55,'poison':'Old monk'},
        'twir56':{'name':'Visakha','age':26,'poison':'coca cola'},
        'jsdl8':{'name':'Saudi','age':12,'poison':'hinwa'}}
usernames=[]
name=[]
age=[]
poison=[]
for username in users.keys():
  usernames.append(username)
print(usernames)
for name in users.values():
  print(name)

['g91', 'twir56', 'jsdl8']
{'name': 'Aron', 'age': 55, 'poison': 'Old monk'}
{'name': 'Visakha', 'age': 26, 'poison': 'coca cola'}
{'name': 'Saudi', 'age': 12, 'poison': 'hinwa'}

#Q.no.7.

In [ ]:

debts_list = [{'amount': 123.46, 'milk1_id': 0}, {'amount': 100, 'milk2_id': 1}, {'amount': 4920.34, 'milk3_id': 2}, {'amount': 12938, 'milk4_id': 3}, {'amount': 9238.02, 'milk5_id': 4},{'amount':5000.05,'milk6_id':5}]
new_debt_dic = {}
for i in debts_list:
    for k, v in i.items():
        new_debt_dic[k] = v
print(new_debt_dic)